<a href="https://colab.research.google.com/github/MaximTislenko/GB_med_stat_R/blob/main/Zad_01_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
library(tidyverse)
library(readxl)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ purrr::%||%()   masks base::%||%()
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

# Векторы

In [3]:
# числовой вектор
a <- c(1, 2, 3, 4, 5, 6, -2, 4)
a

[1]  1  2  3  4  5  6 -2  4

In [6]:
a[c(2, 4)]

[1] 2 4

In [8]:
a

[1]  1  2  3  4  5  6 -2  4

In [4]:
# текстовый вектор
b <- c("one", "two", "three")
b

[1] "one"   "two"   "three"

In [5]:
# логический вектор
с <- c(TRUE, TRUE, TRUE, FALSE, TRUE, FALSE)
c

function (...)  .Primitive("c")

In [12]:
a <- c("k", "j", "h", "a", "c", "m")
a
a[3]
a[c(1,3,5)]
a[2:6]

[1] "k" "j" "h" "a" "c" "m"

[1] "h"

[1] "k" "h" "c"

[1] "j" "h" "a" "c" "m"

# Матрицы

$mymatrix <- matrix(вектор, nrow=число_строк, ncol=число_столбцов,
byrow=логическое_значение, dimnames=list
(текстовый_вектор_с_названиями_строк,
текстовый_вектор_с_названиями_столбцов))$

,где $вектор$ – это вектор, содержащий элементы матрицы, $nrow$ и $ncol$ определяют число строк и столбцов в матрице, а список $dimnames$
определяет названия строк и столбцов (их указывать не обяза-
тельно) в виде текстовых векторов. Параметр $byrow$ определяет,
как должна заполняться матрица – по строкам ($byrow=TRUE$) или по
столбцам ($byrow=FALSE$). По умолчанию матрица заполняется по
столбцам.

In [1]:
# матрица 5*4
y <- matrix(1:20, nrow = 5, ncol = 4)
y

     [,1] [,2] [,3] [,4]
[1,] 1     6   11   16
[2,] 2     7   12   17
[3,] 3     8   13   18
[4,] 4     9   14   19
[5,] 5    10   15   20

In [3]:
# матрица 2*2 заполняется по строкам
cells <- c(1, 26, 24, 68)
rnames <- c("R1", "R2")
cnames <- c("C1", "C2")
mymatrix_01 <- matrix(cells, nrow = 2, ncol = 2, byrow = TRUE, dimnames = list(rnames, cnames))
mymatrix_01

   C1 C2
R1  1 26
R2 24 68

In [4]:
# матрица 2*2 заполняется по столбцам
mymatrix_02 <- matrix(cells, nrow = 2, ncol = 2, byrow = FALSE, dimnames = list(cnames, rnames))
mymatrix_02

   R1 R2
C1  1 24
C2 26 68

In [8]:
# Доступ к строкам, столбцам и к ячейке
x <- matrix(1:10, nrow = 2)
x
x[2,]
x[, 2]
x[1, 4]

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

[1]  2  4  6  8 10

[1] 3 4

[1] 7

# Массивы

$myarray <- array(vector, dimensions, dimnames)$

,где $vector$ – это вектор с данными, $dimensions$ – числовой вектор,
определяющий размеры измерений, а $dimnames$ – необязательный
список названий измерений.

In [14]:
# пример создания трехмерного (2*3*4) числового массива
dim1 <- c("A1", "A2")
dim2 <- c("B1", "B2", "B3")
dim3 <- c("C1", "C2", "C3", "C4")
z <- array(1:24, c(2, 3, 4), dimnames = list(dim1, dim2, dim3))
z[1,2,3]
z[1, , ]
z[ ,1, ]
z[, , 1]

[1] 15

   C1 C2 C3 C4
B1 1   7 13 19
B2 3   9 15 21
B3 5  11 17 23

   C1 C2 C3 C4
A1 1  7  13 19
A2 2  8  14 20

   B1 B2 B3
A1 1  3  5
A2 2  4  6

# Таблицы данных

In [ ]:
base <- read_tsv('https://raw.githubusercontent.com/MaximTislenko/GB_med_stat_R/main/baze.tsv') %>%
   mutate(Patient.number = as.factor(Patient.number), Vial.number = as.factor(Vial.number))

base

Rows: 38 Columns: 94
── Column specification ────────────────────────────────────────────────────────
Delimiter: "\t"
chr   (2): Name, comorbidities
dbl  (91): Vial.number, Patient.number, Group, Age, Ht, Wt, BMI, Sys, Dia, P...
dttm  (1): Date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   Vial.number Patient.number Name                    Group Age Date       Ht
1  1           50             Woodard, Dillon         0     63  2022-03-26 163
2  2           51             Kuck, Breanna           0     47  2023-12-23 179
3  3           52             Thomas, Terrance        1     57  2022-10-10 164
4  4           53             Moua, Kensue            1     72  2022-12-21 160
5  5           54             Soriano, Ryan           1     57  2023-03-16 180
6  6           55             Munoz-Lujan, Evangelina 1     79  2023-03-25 160
7  7           56             Silas, Gurinder         1     61  2022-01-06 164
8  8           57             Matt, Gage              1     70  2022-01-27 162
9  9           58             Lords, Aaran            0     50  2023-10-20 150
10 10          59             Mummert, Skye           1     53  2022-07-21 172
11 11          60             Warero Jr, Alexis       1     83  2023-02-13 168
12 12          61             Bancroft, Kaldurion     1     59  2023-08-28 157
13 13          62             Bowen, Nakayla          1     79  2022-08-28 161
14 14          63             Scott, Alexandria       1     61  2022-07-02 172
15 15          37             Siefers, Rachel         1     79  2023-04-28 167
16 16          38             Timm, Carlton           1     75  2022-03-19 165
17 17          39             Bryant, Saarah          1     58  2022-06-26 162
18 18          40             Fox, Cameron            1     65  2022-12-20 171
19 19          41             Mason, Dylan            0     64  2022-05-13 167
20 20          42             Sandoval, Frank         0     66  2022-07-08 165
21 21          43             Greene, Bryce           1     70  2023-03-08 170
22 22          30             el-Saah, Amaani         0     65  2022-07-12 158
23 23          31             Martinez, Alex          1     62  2022-01-22 169
24 24          32             Vasquez, Edgar          0     76  2022-01-01 165
25 25          33             el-Salam, Thamra        1     68  2022-05-27 170
26 26          34             Mandeville, Audreon     0     55  2023-10-19 162
27 27          35             Kim, Lily               0     79  2023-12-10 172
28 28          36             el-Ahmad, Aaisha        0     69  2023-06-10 160
29 29          37             Jarko, Taylor           1     75  2022-12-08 162
30 30          38             Mccarthy, Cheyenne      1     68  2022-07-01 165
31 31          39             Voyles, Donald          0     64  2022-02-05 176
32 32          40             Hofmann, Christina      0     62  2023-01-25 161
33 33          42             Lattimer, Ariana        1     67  2023-10-25 165
34 34          43             White, Dejah            1     64  2022-06-04 161
35 35          44             Sanders, Nhome          0     54  2022-07-31 167
36 36          25             Hernandez, Minnie       1     67  2022-09-18 159
37 37          26             Rettig, Jane            1     69  2022-01-26 154
38 38          27             Begay, Joshua           0     60  2022-02-11 165
   Wt    BMI      Sys ⋯ G1.ldl G2.ldl G3.ldl S0.ldl S1.ldl S2.ldl S3.ldl B.ldl
1   84.0 31.61579 125 ⋯ 4.090  68.910 3.570  3.980  28.180 42.460 1.950  0.020
2  111.0 34.64311 125 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
3   80.0 29.74420 132 ⋯ 5.160  68.220 3.110  4.640  30.430 39.860 1.560  0.020
4   58.8 22.96875 130 ⋯ 3.950  68.030 4.500  3.780  29.370 41.130 2.200  0.020
5   71.0 21.91358 135 ⋯ 4.630  66.910 4.030  4.440  28.540 40.640 1.950  0.020
6   64.0 25.00000 110 ⋯ 4.050  64.010 5.270  3.720  26.710 40.390 2.510  0.020
7   67.0 24.91077 124 ⋯ 4.100  65.990 4.700  4.030  28.440 39.990 2.330  0.020
8   61.0 23.24341 135 ⋯ 5.270  67.260 3.240  4.690  32.270 37.290 1.520  0.030
9   79.0 35.11111 142 ⋯ 3.970  67.590 4.220  4.420  27.990 41.190 2.180  0.050
10  88.2 29.81341 120 ⋯ 4.480  68.880 4.040  3.860  28.110 43.200 2.230  0.020
11  59.0 20.90420 134 ⋯ 4.620  66.510 4.250  4.780  28.500 40.140 1.960  0.030
12  70.0 28.39872 120 ⋯ 3.470  66.740 5.030  3.450  26.590 42.620 2.580  0.020
13  73.0 28.16249 120 ⋯ 4.780  67.400 3.720  4.760  29.470 39.760 1.910  0.060
14  82.0 27.71769 137 ⋯ 4.550  67.880 4.640  4.060  28.160 42.470 2.380  0.030
15  63.0 22.58955 188 ⋯ 4.700  67.590 3.430  5.280  33.520 35.450 1.470  0.020
16  57.0 20.93664 120 ⋯ 5.200  66.370 4.220  4.470  29.360 39.770 2.190  0.030
17 102.0 38.86603 132 ⋯ 4.010  67.880 4.340  4.340  29.100 40.840 1.950  0.030
18 102.6 35.08772 136 ⋯ 3.935  66.575 4.445  4.435  28.225 39.670 2.625  0.035
19  62.0 22.23099 112 ⋯ 3.860  68.260 4.280  3.680  28.570 42.040 2.110  0.020
20  73.0 26.81359 135 ⋯ 4.710  65.305 4.735  4.335  29.245 38.985 2.185  0.030
21 101.2 35.01730 135 ⋯ 4.040  67.120 4.740  4.560  28.570 40.240 2.530  0.040
22  69.0 27.63980 129 ⋯ 4.930  66.620 4.270  4.590  29.240 39.910 2.080  0.030
23  66.0 23.10843 150 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
24  56.5 20.75298 130 ⋯ 4.390  67.560 3.590  4.550  28.810 40.410 1.770  0.040
25  88.0 30.44983 150 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
26  57.0 21.71925 103 ⋯ 5.280  67.780 4.210  4.710  29.210 41.010 2.340  0.020
27  60.0 20.28123 100 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
28  60.0 23.43750 133 ⋯ 4.620  67.430 4.360  4.160  29.580 40.480 2.190  0.020
29  75.0 28.57796 118 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
30  77.8 28.57668 134 ⋯ 4.290  66.840 4.380  3.910  28.190 41.210 2.200  0.020
31  68.8 22.21074 128 ⋯ 5.220  66.870 3.580  4.280  29.690 40.060 1.640  0.020
32  90.0 34.72088 140 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
33  78.0 28.65014 165 ⋯ 3.890  67.440 4.290  4.210  28.160 41.210 2.040  0.030
34  89.0 34.33510 140 ⋯ 3.270  65.600 5.290  3.380  24.700 43.560 2.520  0.060
35  67.0 24.02381 146 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
36  72.0 28.47989 126 ⋯ 4.000  67.710 5.350  4.200  29.860 40.350 2.650  0.020
37  87.6 36.93709 147 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
38  74.0 27.18090 120 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
   F.ldl HM.ldl
1  1.67  13.02
2    NA     NA
3  1.69  14.16
4  1.89  13.89
5  2.03  14.25
6  2.70  16.06
7  1.61  13.82
8  1.61  14.59
9  1.55  13.26
10 2.30  13.11
11 1.72  14.21
12 2.02  13.52
13 1.93  14.28
14 1.93  13.42
15 1.24  14.35
16 2.99  14.47
17 1.99  13.02
18 2.11  14.64
19 2.34  13.59
20 2.19  15.15
21 2.38  13.10
22 1.69  14.11
23   NA     NA
24 1.38  14.83
25   NA     NA
26 2.03  13.33
27   NA     NA
28 2.27  13.54
29   NA     NA
30 2.36  14.45
31 1.55  14.70
32   NA     NA
33 2.26  15.06
34 2.73  13.89
35   NA     NA
36 1.55  13.37
37   NA     NA
38   NA     NA

In [ ]:
# spec(base)

NULL

In [ ]:
# base

   Vial.number Patient.number Name                    Group Age Date       Ht
1  1           50             Woodard, Dillon         0     63  2022-03-26 163
2  2           51             Kuck, Breanna           0     47  2023-12-23 179
3  3           52             Thomas, Terrance        1     57  2022-10-10 164
4  4           53             Moua, Kensue            1     72  2022-12-21 160
5  5           54             Soriano, Ryan           1     57  2023-03-16 180
6  6           55             Munoz-Lujan, Evangelina 1     79  2023-03-25 160
7  7           56             Silas, Gurinder         1     61  2022-01-06 164
8  8           57             Matt, Gage              1     70  2022-01-27 162
9  9           58             Lords, Aaran            0     50  2023-10-20 150
10 10          59             Mummert, Skye           1     53  2022-07-21 172
11 11          60             Warero Jr, Alexis       1     83  2023-02-13 168
12 12          61             Bancroft, Kaldurion     1     59  2023-08-28 157
13 13          62             Bowen, Nakayla          1     79  2022-08-28 161
14 14          63             Scott, Alexandria       1     61  2022-07-02 172
15 15          37             Siefers, Rachel         1     79  2023-04-28 167
16 16          38             Timm, Carlton           1     75  2022-03-19 165
17 17          39             Bryant, Saarah          1     58  2022-06-26 162
18 18          40             Fox, Cameron            1     65  2022-12-20 171
19 19          41             Mason, Dylan            0     64  2022-05-13 167
20 20          42             Sandoval, Frank         0     66  2022-07-08 165
21 21          43             Greene, Bryce           1     70  2023-03-08 170
22 22          30             el-Saah, Amaani         0     65  2022-07-12 158
23 23          31             Martinez, Alex          1     62  2022-01-22 169
24 24          32             Vasquez, Edgar          0     76  2022-01-01 165
25 25          33             el-Salam, Thamra        1     68  2022-05-27 170
26 26          34             Mandeville, Audreon     0     55  2023-10-19 162
27 27          35             Kim, Lily               0     79  2023-12-10 172
28 28          36             el-Ahmad, Aaisha        0     69  2023-06-10 160
29 29          37             Jarko, Taylor           1     75  2022-12-08 162
30 30          38             Mccarthy, Cheyenne      1     68  2022-07-01 165
31 31          39             Voyles, Donald          0     64  2022-02-05 176
32 32          40             Hofmann, Christina      0     62  2023-01-25 161
33 33          42             Lattimer, Ariana        1     67  2023-10-25 165
34 34          43             White, Dejah            1     64  2022-06-04 161
35 35          44             Sanders, Nhome          0     54  2022-07-31 167
36 36          25             Hernandez, Minnie       1     67  2022-09-18 159
37 37          26             Rettig, Jane            1     69  2022-01-26 154
38 38          27             Begay, Joshua           0     60  2022-02-11 165
   Wt    BMI      Sys ⋯ G1.ldl G2.ldl G3.ldl S0.ldl S1.ldl S2.ldl S3.ldl B.ldl
1   84.0 31.61579 125 ⋯ 4.090  68.910 3.570  3.980  28.180 42.460 1.950  0.020
2  111.0 34.64311 125 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
3   80.0 29.74420 132 ⋯ 5.160  68.220 3.110  4.640  30.430 39.860 1.560  0.020
4   58.8 22.96875 130 ⋯ 3.950  68.030 4.500  3.780  29.370 41.130 2.200  0.020
5   71.0 21.91358 135 ⋯ 4.630  66.910 4.030  4.440  28.540 40.640 1.950  0.020
6   64.0 25.00000 110 ⋯ 4.050  64.010 5.270  3.720  26.710 40.390 2.510  0.020
7   67.0 24.91077 124 ⋯ 4.100  65.990 4.700  4.030  28.440 39.990 2.330  0.020
8   61.0 23.24341 135 ⋯ 5.270  67.260 3.240  4.690  32.270 37.290 1.520  0.030
9   79.0 35.11111 142 ⋯ 3.970  67.590 4.220  4.420  27.990 41.190 2.180  0.050
10  88.2 29.81341 120 ⋯ 4.480  68.880 4.040  3.860  28.110 43.200 2.230  0.020
11  59.0 20.90420 134 ⋯ 4.620  66.510 4.250  4.780  28.500 40.140 1.960  0.030
12  70.0 28.39872 120 ⋯ 3.470  66.740 5.030  3.450  26.590 42.620 2.580  0.020
13  73.0 28.16249 120 ⋯ 4.780  67.400 3.720  4.760  29.470 39.760 1.910  0.060
14  82.0 27.71769 137 ⋯ 4.550  67.880 4.640  4.060  28.160 42.470 2.380  0.030
15  63.0 22.58955 188 ⋯ 4.700  67.590 3.430  5.280  33.520 35.450 1.470  0.020
16  57.0 20.93664 120 ⋯ 5.200  66.370 4.220  4.470  29.360 39.770 2.190  0.030
17 102.0 38.86603 132 ⋯ 4.010  67.880 4.340  4.340  29.100 40.840 1.950  0.030
18 102.6 35.08772 136 ⋯ 3.935  66.575 4.445  4.435  28.225 39.670 2.625  0.035
19  62.0 22.23099 112 ⋯ 3.860  68.260 4.280  3.680  28.570 42.040 2.110  0.020
20  73.0 26.81359 135 ⋯ 4.710  65.305 4.735  4.335  29.245 38.985 2.185  0.030
21 101.2 35.01730 135 ⋯ 4.040  67.120 4.740  4.560  28.570 40.240 2.530  0.040
22  69.0 27.63980 129 ⋯ 4.930  66.620 4.270  4.590  29.240 39.910 2.080  0.030
23  66.0 23.10843 150 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
24  56.5 20.75298 130 ⋯ 4.390  67.560 3.590  4.550  28.810 40.410 1.770  0.040
25  88.0 30.44983 150 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
26  57.0 21.71925 103 ⋯ 5.280  67.780 4.210  4.710  29.210 41.010 2.340  0.020
27  60.0 20.28123 100 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
28  60.0 23.43750 133 ⋯ 4.620  67.430 4.360  4.160  29.580 40.480 2.190  0.020
29  75.0 28.57796 118 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
30  77.8 28.57668 134 ⋯ 4.290  66.840 4.380  3.910  28.190 41.210 2.200  0.020
31  68.8 22.21074 128 ⋯ 5.220  66.870 3.580  4.280  29.690 40.060 1.640  0.020
32  90.0 34.72088 140 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
33  78.0 28.65014 165 ⋯ 3.890  67.440 4.290  4.210  28.160 41.210 2.040  0.030
34  89.0 34.33510 140 ⋯ 3.270  65.600 5.290  3.380  24.700 43.560 2.520  0.060
35  67.0 24.02381 146 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
36  72.0 28.47989 126 ⋯ 4.000  67.710 5.350  4.200  29.860 40.350 2.650  0.020
37  87.6 36.93709 147 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
38  74.0 27.18090 120 ⋯    NA      NA    NA     NA      NA     NA    NA     NA
   F.ldl HM.ldl
1  1.67  13.02
2    NA     NA
3  1.69  14.16
4  1.89  13.89
5  2.03  14.25
6  2.70  16.06
7  1.61  13.82
8  1.61  14.59
9  1.55  13.26
10 2.30  13.11
11 1.72  14.21
12 2.02  13.52
13 1.93  14.28
14 1.93  13.42
15 1.24  14.35
16 2.99  14.47
17 1.99  13.02
18 2.11  14.64
19 2.34  13.59
20 2.19  15.15
21 2.38  13.10
22 1.69  14.11
23   NA     NA
24 1.38  14.83
25   NA     NA
26 2.03  13.33
27   NA     NA
28 2.27  13.54
29   NA     NA
30 2.36  14.45
31 1.55  14.70
32   NA     NA
33 2.26  15.06
34 2.73  13.89
35   NA     NA
36 1.55  13.37
37   NA     NA
38   NA     NA